@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f7fa;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.h1{
    color: 99FFCC
}

a {
    text-decoration: none;
    color: #000000
}

.button{
    background: ffffff;
    color: #000000:
    padding: 10px 20px;
    border: blue;
    border-radius: 5px;
    cursor: pointer;
}
